.table-box {
  background-color:#4b6584;
}

#videoplayer {
  background-color: #75c0f5;
  align: center;
  height: 390px;
  width: 640px;
}

.hero {
  background: linear-gradient(
    to right,
    #d6dbef, #95a5a6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.modal {
  .modal-content {
    background-color: #95a5a6; /* White background for modal content */
    padding: 20px; /* Add some padding for better spacing */
    border-radius: 5px; /* Add rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Add a slight shadow */
    max-width: 300px; /* Set a maximum width for the modal content */
  }
  
  .modal-title {
    font-size: 1.5rem; /* Increase title font size */
    font-weight: bold; /* Make the title bold */
    margin-bottom: 10px; /* Add some margin below the title */
  }
}

.modal.is-active .modal-background,
.modal.is-active .modal-content {
  animation: modalIn 0.2s ease-out; /* Add animation for modal open/close */
}

.input {
  background-color: #e0e0e0; /* Set background color to light gray */
  color: #000; /* Set text color to black for contrast */
}

.input::placeholder {
  color: #4b6584;
}

@keyframes modalIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media only screen and (max-width: 599px) {

  .column {
    margin: 5px;
    padding: 0 20px 0 20px;
  }

  .card-content {
    padding: 20px;
  }
}

.card {
  background-color: #a5b1c2;
  margin: 3px;
  min-height: 300px;
}

#info-section {
  padding-top: 15px;
}

.image img {
  transform: scale(0.5);
}

.title {
  text-align: center;
  font-weight: bold;
  color: black;
}

#submit {
  width: 100%;
  margin-bottom: 20px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: bottom; /* Center align the content horizontally */
  padding: 5px 0; /* Add 5px padding top and bottom */
}